<!DOCTYPE html>
<head>
    <title>Lightview:Gauge:Example</title>
    <link href="./gauge.html" rel="module">
    <script src="../../lightview.js"></script>
</head>
<body>
<l-gauge id="myChart" style="height:500px;" title="Server" hidden l-unhide>
    {
    options: {

    },
    rows: [
    ['Memory', 80],
    ['CPU', 55],
    ['Network', 68]
    ]
    }
</l-gauge>
<script>
    const el = document.getElementById("myChart");
    el.addEventListener("mounted",() => {
        chart = el.chart;
        chart.addRow(["Storage",10]);
    });
</script>
</body>
</html>