<!DOCTYPE html>
<head>
    <title>Lightview:Chart:Example</title>
    <link href="./gantt.html" rel="module">
    <script src="../../lightview.js"></script>
</head>
<body>
<l-gantt id="myChart" style="height:500px;" title="Research Project">
    {
    options: { },
    rows: [
    ['Research', 'Find sources',"2015-01-01", "2015-01-05", null,  100,  null],
    ['Write', 'Write paper',null,"2015-01-09", "3d", 25, 'Research,Outline'],
    ['Cite', 'Create bibliography',null, "2015-01-07","1d" , 20, 'Research'],
    ['Complete', 'Hand in paper', null, "2015-01-10", "1d" , 0, 'Cite,Write'],
    ['Outline', 'Outline paper', null, "2015-01-06", "1d" , 100, 'Research']
    ]
    }
</l-gantt>
<script>
    const el = document.getElementById("myChart");
    el.addEventListener("mounted",() => {
        chart = el.chart;
    });
</script>
</body>
</html>