<!DOCTYPE html>
<html>
<head>
    <title>Lightview:Component:OrgChart:Example</title>
    <link href="./orgchart.html" rel="module">
    <script src="../../lightview.js"></script>
</head>
<body>
<l-orgchart id="myChart" style="height:500px;" title="My Org">
    {
    options: {
        selectedStyle:"color:red"
    },
    // 4 columns in definition data name,title,manager,tooltip
    rows: [
        ["Mike","President","",""],
        ["Jim","CFO","Mike",""],
        ['Alice', 'Controller','Jim',""],
        ['Bob', 'CIO', 'Mike',""],
        ['Carol', 'Executive Assistant',"Mike",""]
    ]
    }
</l-orgchart>
</body>
</html>