<html>
<head>
    <meta charset="UTF-8">
    <title>Lightview:Gauge</title>
</head>
<body hidden>
<div id="target"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="lightview/module">
    const target = self.getElementById("target"),
        resizeObserver = new ResizeObserver(entries => {
          for (let entry of entries) {
            if(entry.contentBoxSize) {
              // Firefox implements `contentBoxSize` as a single content rect, rather than an array
              const contentBoxSize = Array.isArray(entry.contentBoxSize) ? entry.contentBoxSize[0] : entry.contentBoxSize;
              options.width = contentBoxSize.inlineSize;
            } else {
              options.width = entry.contentRect.width;
            }
          }
          chart.draw(datatable, options);
        });
    let chart,
        datatable,
        options;
    self.variables({label: "string", value:"number", style: "string"}, {observed});
    if(style) target.setAttribute("style",style);
    self.setValue = (newValue) => {
        if(datatable) {
            datatable.setValue(0,1,newValue);
            chart.draw(datatable, options);
        }
    };
    self.init = () => {
        options = { };
        chart = new google.visualization.Gauge(target);
        datatable = google.visualization.arrayToDataTable([["Label","Value"],[label,value]]);
        addEventListener("change",({target,value}) => {
            if (target === "label") {
                datatable.setValue(0,0,value);
            } else if(target ==="value") {
                self.setValue(value);
            } else if(target === "style") {
                target.setAttribute("style",value);
            }
            chart.draw(datatable, options);
        });
        resizeObserver.observe(target);
        self.removeAttribute("hidden");
    };
    self.addEventListener("connected", ({target}) => {
        google.charts.load("current", {"packages": ["corechart","gauge"]});
        google.charts.setOnLoadCallback(self.init);
    });
</script>
</body>
</html>